<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"> <!-- Define o conjunto de caracteres para o documento como UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Define a largura da visualização para dispositivos móveis e escala inicial -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml"> <!-- Define o ícone da aba do navegador -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- Inclui o CSS do Bootstrap para estilos -->

    <title>Agenda</title> <!-- Define o título da página exibido na aba do navegador -->
</head>

<body>