<%- include('includes/head') %> <!-- Inclui o cabeçalho da página -->
<%- include('includes/nav') %> <!-- Inclui o menu de navegação -->

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-5">
            <h1 class="display-1 text-center">Erro 404!</h1> <!-- Exibe a mensagem de erro 404 -->
            <p class="text-center lead">A página que você procura não existe.</p> <!-- Mensagem adicional -->
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer') %> <!-- Inclui o rodapé da página -->
